@import "./styles/breakpoints.scss";
@import "./styles/header.scss";
@import "./styles/headline.scss";
@import "./styles/about.scss";
@import "./styles/customers.scss";
@import "./styles/acquire_customers.scss";
@import "./styles/features.scss";
@import "./styles/footer.scss";
@import "./styles/footer_desktop.scss";
@import "./styles/visitors.scss";
@import "./styles/free-trial.scss";


* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #2B292D;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}