.top__section {
    background: #fff;
    min-width: 320px;
    min-height: 64px;

    @include for-large-up {
        background-color: #F3C6BD;
        // min-height: 185px;
    }
}

.header {
    display: flex;
    height: 70px;  //none

    @include for-large-up {
        width: 1140px;
        margin-left: 130px;
    }
}

.logo__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;
    margin-left: 15px;
    margin-top: 8px;

    @include for-large-up {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        margin-left: 0; //none
        // margin-left: 130px;
        // margin-top: 40px;
    }
}

.logo__text {
    @include for-large-up {
        height: 50px;
        width: 200px; //none
        margin-top: 30px; // none
    }
}

.logo__name {
    font-size: 20px;
    line-height: 64px;
    font-weight: 700;
    color: #2B292D;

    @include for-large-up {
        line-height: 0px; //40px
    }
}

.logo__description {
    display: none;
    @include for-large-up {
        display: block;
        color: #2B292D;
        opacity: 0.6;
        margin-top: 15px; //none
    }
}

.navigation {
    display: none;
    @include for-large-up {
        display: block;
        margin-left: 335px; //auto
        // margin-top: 46px;
        margin-right: 75px;
        width: 273px;  //273px
        line-height: 80px; //none

        &__arrow {
            background-image: url('./images/header/arrow.png');
            display: inline-block;
            width: 8px;
            height: 5px;
            margin-left: 11px;
        }
    }
}
.nav-list__item_selected {
    font-weight: 700;
    margin-right: 40px;
}
.nav-list__item:nth-child(even) {
    margin-right: 40px; 
}


.action-button {
    display: none;
    @include for-large-up {
        display: block;
        width: 160px;
        height: 48px;
        background-color: #3040C4;
        color: #fff;
        border: none;
        border-radius: 2px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 15px; //40px
        // margin-right: 130px;
    }
}

.header__menu-button {
    width: 58px;
    height: 64px;
    border: none;
    border-left: 1px solid #00000026;
    margin-left: auto;
    background: transparent;

    @include for-large-up {
        display: none;
    }
}

.header__menu-icon {
    background-image: url('./images/header/Shape.png');
    width: 18px;
    height: 13px;
    display: inline-block;
}